<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestTomcat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HW1</servlet-name>
    <servlet-class>HWServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HW1</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HW2</servlet-name>
    <servlet-class>com.ZK.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HW2</servlet-name>
    <url-pattern>/he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext</servlet-name>
    <servlet-class>com.ZK.servlet.TestServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext</servlet-name>
    <url-pattern>/TSContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySQLServlet</servlet-name>
    <servlet-class>com.ZK.servlet.MySQLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySQLServlet</servlet-name>
    <url-pattern>/MySQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySQLBeanServlet</servlet-name>
    <servlet-class>com.ZK.servlet.MySQLBeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySQLBeanServlet</servlet-name>
    <url-pattern>/sqlBean</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletToJSP</servlet-name>
    <servlet-class>com.ZK.servlet.ServletToJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToJSP</servlet-name>
    <url-pattern>/S2JSP</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>